<div id="main">
    <div class="container">
        <h1>Education</h1>
        {{#if isAdmin}}
        <div>
            <a href="/education/new" class="btn btn-link"> new education</a>
        </div>
        {{/if}}
        <div class="columns col-gapless">
            {{#if dbError}}
            <div>
                sorry, there was a problem with the database:<br />
                {{theError}} 
            </div>
            {{else}}
            <div class="column col-5 col-md-5 col-sm-12">
                <div class="card">
                    <div class="card-image">
                        <img src="{{education.eimgURL}}" alt="{{education.eimgURL}}" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <div class="card-title h3">{{education.ename}}</div>
                        <div class="card-subtilte text-grey">{{education.eyear}} --- {{education.etype}}</div>
                    </div>
                    <div class="card-desc">
                        {{education.edesc}}
                    </div>
                    <div class="card-footer">
                        {{#if ../isAdmin}}
                        <div>
                            <a href="/education/update/{{education.eid}}"> Modify </a> - <a href="/education/delete/{{education.eid}}" class="important"> Delete</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="column col-1 col-md-1 "></div>
            {{/if}}
        </div>
    </div>
</div>