<link rel="stylesheet" href="/css/project.css">
<div id="main">
    <div class="container" >
        <h1>My projects</h1>
        {{#if isAdmin}}
        <div>
            <a href="/projects/new" class="btn btn-link"> new project</a>
        </div>
        {{/if}}
        <div class="columns col-gapless">
            {{#if dbError}}
            <div>
                sorry, there was a problem with the database:<br />
                {{theError}} 
            </div>
            {{else}}
            <div class="column col-5 col-md-5 col-sm-12">
                <div class="card">
                    <a class="card-link" href="/projectsdetail/{{project.pid}}">
                    <div class="card-image">
                        <img src="{{project.pimgURL}}" alt="{{project.pimgURL}}" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <div class="card-title h3">{{project.pname}}</div>
                        <div class="card-subtilte text-grey">{{project.pyear}} --- {{project.ptype}}</div>
                    </div>
                    <div class="card-text">
                        <div class="card-desc">{{project.pdesc}}</div>
                    </div>
                    </a>
                    <div class="card-footer">
                        {{#if ../isAdmin}}
                        <div>
                            <a href="/projects/update/{{project.pid}}"> Modify </a> - <a href="/projects/delete/{{project.pid}}" class="important"> Delete</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="column col-1 col-md-1"></div>
            {{/if}}
        </div>
    </div>
</div>